# Application Name (Common to All Environments)
spring:
  application:
    name: AI_Medical_Triage
  # The active environment (switched using this parameter: dev/test/prod, etc.)
  profiles:
    active: dev
  # General Framework Configuration (Shared by All Environments)
  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true
  ai:
    openai:
      api-key: {api key}
      base-url: https://dashscope.aliyuncs.com/compatible-mode/v1
      chat:
        options:
          model: "qwen3-max"                # 默认模型
          temperature: 0.7                  # 生成文本的随机性控制
          max-tokens: 500





# MyBatis General Configuration (Basic Configuration Shared Across All Environments)
mybatis-plus:
  type-aliases-package: com.dd.ai_medical_triage.entity
  type-handlers-package: com.dd.ai_medical_triage.handler
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true

# Default port (can be overridden by environment configuration)
server:
  port: 8085